/* styling nav */
* {
  font-family: "Open Sans", sans-serif;
}

.nav-row {
  padding: 1.1rem 0;
}

.logo {
  height: 3.5rem;
}

.profile-pic {
  border-radius: 50%;
  height: 3.5rem;
  margin-left: 1rem;
}

.user-info {
  display: inline-flex;
  align-items: center;
}

.col-md-6 {
  text-align: center;
}

/* style content boxes */

.heading {
  background-color: grey;
  text-align: center;
  color: white;
}

.content-box {
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 2.3rem rgba(0, 0, 0, 0.18);
  padding: 3rem 2rem 1rem 2rem;
  margin: 2rem 1rem;
}

.content-box-row {
  justify-content: center;
}
