/* styling nav */
* {
  font-family: "Open Sans", sans-serif;
}

.nav-row {
  padding: 1rem 0;
}

.logo {
  height: 3.5rem;
}

.profile-pic {
  border-radius: 50%;
  height: 3.5rem;
  margin-left: 1rem;
}

.user-info {
  display: inline-flex;
  align-items: center;
}

.welcome-msg {
  font-style: italic;
  color: #212529;
  padding-top: 0.6rem;
}

.nav-row .col-md-6 {
  text-align: center;
}

/* style content boxes */

.heading {
  background-color: #929292;
  padding-top: 5rem;
  text-align: center;
  color: white;
  position: relative;
  height: 30rem;
}

.heading h1 {
  font-size: 3.5rem;
}

.heading p {
  margin: 0.1rem 0;
}

.content-box {
  background-color: white;
  color: #212529;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 2.3rem rgba(0, 0, 0, 0.18);
  padding: 3rem 1.5rem 2rem 1.5rem;
  margin: 2rem 1rem;
}

.content-boxes-row {
  position: relative;
  bottom: 12rem;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.content-box p,
.heading p,
.card-body,
.card-title,
.card-header p {
  font-size: 0.85rem;
}

.content-box h5 {
  font-size: 1.3rem;
  margin-top: 2.5rem;
  font-weight: bold;
}

.content-box img {
  height: 4.5rem;
}

/* style comment section */

.comment-section {
  justify-content: center;
  margin: -2rem 0 1rem 0;
}

.comment-section .card {
  margin: 1rem 0;
}

.comment-section h3 {
  text-align: center;
  font-weight: bold;
}

.card-header p {
  margin: 0;
  font-style: italic;
}

@media only screen and (max-width: 767px) {
  .logo {
    margin-bottom: 0.5rem;
  }
}
