/* styling nav */
.nav-row {
  padding: 1.1rem 0;
}

.logo {
  height: 3.5rem;
}

.profile-pic {
  border-radius: 50%;
  height: 3.5rem;
  margin-left: 1rem;
}

.user-info {
  display: inline-flex;
  align-items: center;
}

.col-md-6 {
  text-align: center;
}

/* add media query for login button padding on mobile */
